body {
    font-family: Arial;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #8DD7CF;
    background-color: #8DD7CF;
    width: 100%;
}

.subtab {
    overflow: hidden;
    border: 1px solid #8DD7CF;
    background-color: rgb(255, 255, 255);
    width: 100%;
}
 p{
    margin: 40px 0 10px 10px;
    
}
     ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
    
    ul li {
      border: 1px solid #000;
      margin-top: -1px;
      background-color: #fff;
      padding: 12px;
    }
    
.tablinks {
width: 25%;
}
/*estilo dos locais*/
.tabcontent {
    overflow: hidden;
    border: 1px solid #8DD7CF;
    background-color: rgb(255, 255, 255);
}

/* Style the buttons inside the tab */

.tab button {
    display: flex;
    align-items: center;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 15px;
    height: 50px;
    justify-content: center;
}
.subtab button {
    display: flex;
    align-items: center;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    justify-content: center;
    transition: 0.3s;
    font-size: 15px;
    height: 50px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: rgb(255, 255, 255);
}

.subtab button:hover {
    background-color: #8DD7CF;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: rgb(255, 255, 255);
}

.subtab button.active {
    background-color: #8DD7CF;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}


.topright:hover {
    color: red;
}
.float-icon {
    position: fixed;
    bottom: 0;
    left: 10px;
    cursor: pointer;
}
.question_answer {
    font-size: 50px !important;

}
.linha-lista{
    display: flex;
    justify-content: space-between;
}
.linha-lista i{
    font-size: 30px ;
    cursor: pointer;
}